body {
    
}

.blue-box {
    background-color: #1f2937ee;
    padding: 0 140px 50px 140px;
    margin: 0;
}

ul, .second {
    color: #e5e7eb;
}

.logo {
    color: #e5e7eb;
    font-size: larger;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.top {
    display: flex;
    justify-content: space-between;
} 

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.second {
    display: flex;
    justify-content: space-between;
}

.placeholder {
    width: 500px;
    height: 200px;
    background-color: grey;
}

.text {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

button {
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
}

.white-box, .item {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.white-box {
    padding-bottom: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.square {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.item p {
    width: 150px;
    text-align: center;
}

h2 {
    padding: 25px 0 25px 0;
    font-weight: 900;
    font-size: 36px;
}